POSTGRES_DB=ms4_publisher
POSTGRES_USER=rpc_user
POSTGRES_PASSWORD=rpc_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

MS1_URL=http://ms1-connector:8001
MS2_URL=http://ms2-renderer:8002

RABBIT_HOST=rabbitmq
RABBIT_USER=rpc
RABBIT_PASS=rpc1234

SECRET_KEY=cambiar_en_produccion
DEBUG=True
ALLOWED_HOSTS=*
